<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <h1>About</h1>
</header>
<p>Details: </p>
<section>
    <h1>How to become a student</h1>
    <p>Information ...</p>
</section>
<section>
    <h1>How to become a teacher</h1>
    <p>Information ...</p>
</section>
<section>
    <h1>Some information</h1>
    <p>Information ...</p>
</section>
</body>
</html>