<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Life</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <h1>Welcome to the Students life Page!</h1>
</header>
<p>Some information about student life</p>
<p>Events: </p>
<section>
    <h1>Day of university</h1>
    <p>In this day people ...</p>
</section>
<section>
    <h1>The flag day</h1>
    <p>In this day people ...</p>
</section>
<section>
    <h1>Movie night</h1>
    <p>In this day people ...</p>
</section>
</body>
</html>