<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My University</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/university/about">About</a></li>
      <li><a href="/university/teachers">Teachers</a></li>
      <li><a href="/university/students">Students</a></li>
      <li><a href="/university/studentLife">Student Life</a></li>
    </ul>
  </nav>
</header>

<main>
  <section>
    <h1>Welcome to the University</h1>
    <p>Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... </p>
    <p>Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... </p>
  </section>

  <section>
    <h2>About Us</h2>
    <p>Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... </p>
    <p>Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... Some text... </p>
  </section>


  <footer>
    <p>&copy; My University 2023</p>
  </footer>
</main>
</body>
</html>