<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My University</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/university/about">About</a></li>
      <li><a href="/university/teachers">Teachers</a></li>
      <li><a href="/university/students">Students</a></li>
      <li><a href="/university/studentLife">Student Life</a></li>
    </ul>
  </nav>
</header>

<main>
  <section>
    <h1>Welcome to the University</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada maximus sapien ac blandit. Duis euismod lectus augue, eu sagittis elit ultrices ac. Nullam vitae tortor felis. Sed eget tellus sit amet nisi varius auctor. Sed id aliquet arcu. Duis ut aliquam ipsum. In at ligula vitae odio consequat iaculis.</p>
  </section>

  <section>
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada maximus sapien ac blandit. Duis euismod lectus augue, eu sagittis elit ultrices ac. Nullam vitae tortor felis. Sed eget tellus sit amet nisi varius auctor. Sed id aliquet arcu. Duis ut aliquam ipsum. In at ligula vitae odio consequat iaculis.</p>
  </section>


  <footer>
    <p>&copy; My University 2023</p>
  </footer>
</main>
</body>
</html>